In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('traffic_accident.csv')
df

,age,num_of_accident,deathtoll,num_of_sinj,num_of_minj,num_of_reported_inj,year
0,under20,8020,162,3455,6710,1373,2013
1,21~30,29221,696,13235,30914,2636,2013
2,31~40,38718,877,17261,39418,2947,2013
3,41~50,52141,1147,23207,53836,3694,2013
4,51~60,51415,1169,22915,52658,3699,2013
...,...,...,...,...,...,...,...
77,41~50,47219,898,17936,49084,4472,2016
78,51~60,54299,1045,20703,56656,4913,2016
79,61~64,15305,338,5972,15607,1410,2016
80,over65,24429,759,9816,23507,2364,2016
81,unknown,4962,1,854,3488,1161,2016

In [4]:
df.loc[0]

age                    under20
num_of_accident           8020
deathtoll                  162
num_of_sinj               3455
num_of_minj               6710
num_of_reported_inj       1373
year                      2013
Name: 0, dtype: object

In [10]:
df.loc[0]

age                    under20
num_of_accident           8020
deathtoll                  162
num_of_sinj               3455
num_of_minj               6710
num_of_reported_inj       1373
year                      2013
Name: 0, dtype: object